body{
    background-color: rgb(23, 24, 48);
    margin: 0px;
}

div.add_password_div{
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

div.add_password_div button{
    background-color: rgb(251, 191, 8);
    border-radius: 25px;
    outline: none;
    box-shadow: none;
    border: 0px;
    font-size: 55px;
    text-align: center;
    margin: auto;
    height: 65px;
    width: 65px;
}

div.add_password_div button:active{
    opacity: 85%;
}
