<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.passwordmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordManager"
        android:screenOrientation="portrait">
        <activity
            android:name=".Troubleshooter.TroubleshooterPage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsPage.SettingsPage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutPage.About"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddPasswordPage.PasswordManagerPage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginPage.SetupLoginPage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomePage.HomePage"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginPage.SetupPasswordPage"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginPage.LoginPage"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoadingScreen.LoadingScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>